---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro'
import {DevButton} from '../components/Button.tsx';
import { Button as ShadcnButton, Typography } from '@astro-ngt/ui';

import "../styles/global.css"
import "@astro-ngt/ui/style.css"

// import '@astro/ngt/dist/index.css';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div class="container mx-auto py-8">
		<Typography as="h1" client:load>Welcome to Astro NGT</Typography>
		<Typography client:load>This is our custom UI library with Shadcn</Typography>
		
		<p class="text-xl text-red-600">XD</p>

		<div class="flex gap-4 mt-6">
			<Button />
			<DevButton class="helloWorld"/>
			<!-- <ShadcnButton id="helloWorld" variant="link" client:load onClick={globalThis.handleButtonClick}>Shadcn Button</ShadcnButton> -->
			<ShadcnButton  id="helloWorld" client:load onClick={globalThis.handleButtonClick}>Outline Button</ShadcnButton>
		</div>
	</div>
</Layout>

<script>
	const devButton = document.querySelector('#helloWorld');
	devButton.addEventListener('click', () => {
		console.log('Hello World');
	});
</script>